In [6]:
import pandas as pd
import numpy as np
import scipy

prec = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/Lebanon_to_StVincent_pr_1991_2015.xls')
temp = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/Lebanon_to_StVincent_temp_1991_2015.xls')
occur = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/aegypti_albopictus.xlsx')

In [7]:
temp.rename(columns={'\tYear':'Year', ' Month':'Month', ' Country':'Country'}, inplace=True)
prec.rename(columns={'\tYear':'Year', ' Month':'Month', ' Country':'Country'}, inplace=True)
occur.rename(columns={'YEAR':'Year', 'COUNTRY_ID':'Country'}, inplace=True)

In [8]:
# Drop unnecessary columns
occur.drop(columns=['SOURCE_TYPE','LOCATION_TYPE','POLYGON_ADMIN','STATUS','GAUL_AD0','X','Y'],inplace=True)
occur.head()

          VECTOR  OCCURRENCE_ID  Year COUNTRY Country
0  Aedes aegypti              1  1958   Kenya     KEN
1  Aedes aegypti              2  1960   Congo     COG
2  Aedes aegypti              3  1960   Congo     COG
3  Aedes aegypti              4  1960   Kenya     KEN
4  Aedes aegypti              5  1960   Kenya     KEN

In [9]:
occur['Year'] = pd.to_numeric(occur['Year'], downcast='integer',errors='coerce')
occur.describe()

       OCCURRENCE_ID          Year
count   42066.000000  40804.000000
mean    21033.500000   2006.723630
std     12143.552549      7.616601
min         1.000000   1958.000000
25%     10517.250000   2004.000000
50%     21033.500000   2008.000000
75%     31549.750000   2013.000000
max     42066.000000   2014.000000

In [10]:
# Select the timeframe of temperature and rainfall we colected 
occur = occur.loc[(occur['Year']>=1991) & (occur['Year']<=2014)]

# Different abbreviation of the same country in different datasets
occur['Country'] = occur['Country'].replace('ROU', 'ROM')

# Set as NaN the countries we didn't find the temperature nor the rainfall
occur['Country'] = occur['Country'].replace('XXX', np.nan)
occur['Country'] = occur['Country'].replace('TWN', np.nan)
occur['Country'] = occur['Country'].replace('HKG', np.nan)

occur['Year'] = occur['Year'].astype(int)
occur.dropna(inplace=True)
occur.dtypes

VECTOR           object
OCCURRENCE_ID     int64
Year              int64
COUNTRY          object
Country          object
dtype: object

In [11]:
annualOccur = pd.DataFrame(occur.groupby(['Year','Country'])['OCCURRENCE_ID'].count()).reset_index()
annualOccur

     Year Country  OCCURRENCE_ID
0    1991     AUS             31
1    1991     BRA              2
2    1991     COL              1
3    1991     FJI              4
4    1991     GUF              1
5    1991     IND              1
6    1991     ITA             17
7    1991     MAC              1
8    1991     MEX              1
9    1991     MYS              1
10   1991     NGA              8
11   1991     NPL              1
12   1991     PRI              1
13   1991     THA              4
14   1991     TTO              1
15   1991     USA            105
16   1991     ZAF             11
17   1992     ALB              1
18   1992     AUS             58
19   1992     BRA              1
20   1992     CUB              2
21   1992     DJI              2
22   1992     FJI              3
23   1992     GUF              3
24   1992     IDN             14
25   1992     IND              5
26   1992     ITA              6
27   1992     JPN              3
28   1992     MYS              1
29   1992     NZL              1
..    ...     ...            ...
587  2011     USA              2
588  2012     ARG              5
589  2012     AUT              1
590  2012     BRN              4
591  2012     CZE              1
592  2012     DEU              1
593  2012     ESP              4
594  2012     FRA             16
595  2012     GRC              5
596  2012     IDN             50
597  2012     ITA              2
598  2012     JPN              2
599  2012     LKA              2
600  2012     MEX              1
601  2012     NLD              1
602  2012     ROM              1
603  2012     USA              1
604  2013     ARG              2
605  2013     BRA           4411
606  2013     ESP              1
607  2013     IDN             12
608  2013     ITA             10
609  2013     PER             13
610  2013     SVK              1
611  2013     USA              9
612  2013     ZMB              1
613  2014     BRA           3276
614  2014     CHN              3
615  2014     IDN              5
616  2014     USA              7

[617 rows x 3 columns]

In [24]:
annualTemp = pd.DataFrame(temp.groupby(['Year','Country'])['tas'].sum()/12).reset_index()
annualPrec = pd.DataFrame(prec.groupby(['Year','Country'])['pr'].sum()/12).reset_index()
temp_rain=pd.merge(annualTemp,annualPrec,
                   how='inner',
                   left_on = ['Year','Country'],
                   right_on = ['Year','Country'])

In [25]:
temperature=temp.drop_duplicates()
temperature.to_csv('temperature.csv', encoding='utf-8', index=False)
temperature.dtypes

tas        float64
Year         int64
Month        int64
Country     object
 ISO3      float64
 ISO2      float64
dtype: object

In [26]:
precipitation=prec.drop_duplicates()
precipitation.to_csv('precipitation.csv', encoding='utf-8', index=False)
precipitation.describe()

                 pr          Year         Month   ISO3   ISO2
count  44400.000000  44400.000000  44400.000000    0.0    0.0
mean     135.276355   2003.000000      6.500000    NaN    NaN
std      133.079973      7.211184      3.452091    NaN    NaN
min        0.000000   1991.000000      1.000000    NaN    NaN
25%       42.175175   1997.000000      3.750000    NaN    NaN
50%      101.266500   2003.000000      6.500000    NaN    NaN
75%      194.548750   2009.000000      9.250000    NaN    NaN
max     2882.040000   2015.000000     12.000000    NaN    NaN

In [27]:
temp_rain.to_csv('temp_rain.csv', encoding='utf-8', index=False)

In [42]:
temp_rain.head()

   Year Country        tas          pr
0  1991     ABW  28.078008   38.882968
1  1991     AFG  13.118033   36.931453
2  1991     AGO  21.652200   83.844948
3  1991     AIA  26.108292  113.631158
4  1991     ALB  11.038935   77.587033

In [41]:
tempByYear = pd.pivot_table(temp_rain,
                        values="tas",
                        index=['Country'],
                        columns=['Year'])
tempByYear.isnull().sum()

Year
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
dtype: int64

In [40]:
rainByYear = pd.pivot_table(temp_rain,
                        values="pr",
                        index=['Country'],
                        columns=['Year'])
rainByYear.isnull().sum()

Year
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
dtype: int64

In [43]:
temp_rain_occur=pd.merge(annualOccur,temp_rain,
                   how='left',
                   left_on = ['Year','Country'],
                   right_on = ['Year','Country'])
temp_rain_occur.rename(columns={'OCCURRENCE_ID':'Ocurrences', 'tas':'Temperature', 'pr':'Precipitation'}, inplace=True)
temp_rain_occur

     Year Country  Ocurrences  Temperature  Precipitation
0    1991     AUS          31    22.172075      37.912953
1    1991     BRA           2    25.100117     139.381483
2    1991     COL           1    24.545633     173.873683
3    1991     FJI           4    24.151858     223.556367
4    1991     GUF           1    25.670833     218.727517
5    1991     IND           1    24.220583      83.869383
6    1991     ITA          17    11.681567      74.369725
7    1991     MAC           1    23.240850     139.311213
8    1991     MEX           1    21.018242      63.625225
9    1991     MYS           1    25.663675     228.281667
10   1991     NGA           8    26.918442      99.951703
11   1991     NPL           1    12.047412      92.374096
12   1991     PRI           1    25.380858     137.896442
13   1991     THA           4    26.988458     116.908015
14   1991     TTO           1    26.223883     131.437017
15   1991     USA         105     7.554737      57.115942
16   1991     ZAF          11    17.816392      42.275564
17   1992     ALB           1    11.429766      60.177775
18   1992     AUS          58    21.585058      37.335425
19   1992     BRA           1    24.911717     140.468358
20   1992     CUB           2    25.612300      92.769083
21   1992     DJI           2    27.635458      24.946896
22   1992     FJI           3    23.914375     174.178533
23   1992     GUF           3    25.441783     206.321768
24   1992     IDN          14    26.087450     223.570000
25   1992     IND           5    24.114783      76.007108
26   1992     ITA           6    12.367347      78.937642
27   1992     JPN           3    11.013125     125.505275
28   1992     MYS           1    25.590183     202.233000
29   1992     NZL           1     8.945357     142.305750
..    ...     ...         ...          ...            ...
587  2011     USA           2     7.576748      56.498275
588  2012     ARG           5    15.005462      48.664962
589  2012     AUT           1     7.553608      98.963358
590  2012     BRN           4    25.698967     289.547917
591  2012     CZE           1     9.062616      55.631483
592  2012     DEU           1     9.557205      58.510258
593  2012     ESP           4    13.895337      42.364540
594  2012     FRA          16    12.750580      71.268367
595  2012     GRC           5    14.974655      56.060982
596  2012     IDN          50    26.043758     252.981750
597  2012     ITA           2    12.857542      71.075975
598  2012     JPN           2    11.192658     143.003075
599  2012     LKA           2    27.486383     144.612283
600  2012     MEX           1    21.592717      58.729758
601  2012     NLD           1    10.183468      69.282517
602  2012     ROM           1    10.265744      51.040200
603  2012     USA           1     8.217144      52.924083
604  2013     ARG           2    14.918502      40.927242
605  2013     BRA        4411    25.730858     147.079900
606  2013     ESP           1    13.703829      55.813233
607  2013     IDN          12    26.279492     257.178333
608  2013     ITA          10    12.615858      82.281275
609  2013     PER          13    19.474542     126.769783
610  2013     SVK           1     8.746543      65.046408
611  2013     USA           9     7.310817      59.181317
612  2013     ZMB           1    22.033725      82.162935
613  2014     BRA        3276    25.833583     145.524375
614  2014     CHN           3     6.941348      45.844503
615  2014     IDN           5    26.202767     219.510500
616  2014     USA           7     7.725201      57.448617

[617 rows x 5 columns]

In [44]:
temp_rain_occur.to_csv('ocurences.csv', encoding='utf-8', index=False)