In [1]:
import pandas as pd
import numpy as np
import scipy

prec = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/Lebanon_to_StVincent_pr_1991_2015.xls')
temp = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/Lebanon_to_StVincent_temp_1991_2015.xls')
occur = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/aegypti_albopictus.xlsx')

In [2]:
temp.rename(columns={'\tYear':'Year', ' Month':'Month', ' Country':'Country'}, inplace=True)
prec.rename(columns={'\tYear':'Year', ' Month':'Month', ' Country':'Country'}, inplace=True)

In [3]:
occur.drop(columns=['SOURCE_TYPE','LOCATION_TYPE','POLYGON_ADMIN','STATUS','GAUL_AD0','X','Y'],inplace=True)
occur.head()

          VECTOR  OCCURRENCE_ID  YEAR COUNTRY COUNTRY_ID
0  Aedes aegypti              1  1958   Kenya        KEN
1  Aedes aegypti              2  1960   Congo        COG
2  Aedes aegypti              3  1960   Congo        COG
3  Aedes aegypti              4  1960   Kenya        KEN
4  Aedes aegypti              5  1960   Kenya        KEN

In [4]:
occur['YEAR'] = pd.to_numeric(occur['YEAR'], downcast='integer',errors='coerce')
occur.dropna(inplace=True)
occur.describe()

       OCCURRENCE_ID          YEAR
count   40804.000000  40804.000000
mean    21123.633639   2006.723630
std     12090.639563      7.616601
min         1.000000   1958.000000
25%     11118.750000   2004.000000
50%     21319.500000   2008.000000
75%     31544.250000   2013.000000
max     42042.000000   2014.000000

In [12]:
occur = occur.loc[(occur['YEAR']>=1991) & (occur['YEAR']<=2014)]
occur.to_csv('occurence.csv', encoding='utf-8', index=False)

In [ ]:
annualTemp = pd.DataFrame(temp.groupby(['Year','Country'])['tas'].sum()/12).reset_index()
annualPrec = pd.DataFrame(prec.groupby(['Year','Country'])['pr'].sum()/12).reset_index()
mergedData=pd.merge(annualTemp,annualPrec,
                   how='inner',
                   left_on = ['Year','Country'],
                   right_on = ['Year','Country'])

In [ ]:
temperature=temp.drop_duplicates()
temperature.to_csv('temperature.csv', encoding='utf-8', index=False)
temperature.describe()

In [ ]:
precipitation=prec.drop_duplicates()
precipitation.to_csv('precipitation.csv', encoding='utf-8', index=False)
precipitation.describe()

In [ ]:
mergedData.to_csv('temp_rain.csv', encoding='utf-8', index=False)

In [ ]:
mergedData

In [ ]:
tempByYear = pd.pivot_table(mergedData,
                        values="tas",
                        index=['Country'],
                        columns=['Year'])
tempByYear.isnull().sum()

In [ ]:
rainByYear = pd.pivot_table(mergedData,
                        values="pr",
                        index=['Country'],
                        columns=['Year'])
rainByYear.isnull().sum()