In [1]:
import pandas as pd
import numpy as np
import scipy

prec = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/prec_1991_2015.xls')
temp = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/temp_1991_2015.xls')
occur = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/aegypti_albopictus.xlsx')

In [ ]:
occur

In [2]:
temp.rename(columns={'\tYear':'Year', ' Month':'Month', ' Country':'Country'}, inplace=True)
prec.rename(columns={'\tYear':'Year', ' Month':'Month', ' Country':'Country'}, inplace=True)
occur.rename(columns={'YEAR':'Year', 'COUNTRY_ID':'Country'}, inplace=True)

In [3]:
taywan = pd.read_csv('/Users/RodolfoSaldanha/Downloads/taywan.csv')
taywan.drop(columns=['Unnamed: 0'],inplace=True)
taywan.head()

    tas  Year Country      pr
0  21.6  1980     TWN  1824.1
1  21.7  1981     TWN  1926.5
2  21.6  1982     TWN  1969.2
3  21.8  1983     TWN  1763.1
4  21.6  1984     TWN  2570.2

In [4]:
# Drop unnecessary columns
occur.drop(columns=['SOURCE_TYPE','LOCATION_TYPE','POLYGON_ADMIN','STATUS','GAUL_AD0','X','Y'],inplace=True)
occur.head()

          VECTOR  OCCURRENCE_ID  Year COUNTRY Country
0  Aedes aegypti              1  1958   Kenya     KEN
1  Aedes aegypti              2  1960   Congo     COG
2  Aedes aegypti              3  1960   Congo     COG
3  Aedes aegypti              4  1960   Kenya     KEN
4  Aedes aegypti              5  1960   Kenya     KEN

In [5]:
occur['Year'] = pd.to_numeric(occur['Year'], downcast='integer',errors='coerce')
occur.describe()

       OCCURRENCE_ID          Year
count   42066.000000  40804.000000
mean    21033.500000   2006.723630
std     12143.552549      7.616601
min         1.000000   1958.000000
25%     10517.250000   2004.000000
50%     21033.500000   2008.000000
75%     31549.750000   2013.000000
max     42066.000000   2014.000000

In [6]:
# Select the timeframe of temperature and rainfall we colected 
occur = occur.loc[(occur['Year']>=1991) & (occur['Year']<=2014)]

# Different abbreviation of the same country in different datasets
occur['Country'] = occur['Country'].replace('ROU', 'ROM')

# Set as NaN the countries we didn't find the temperature nor the rainfall
occur['Country'] = occur['Country'].replace('XXX', np.nan)
occur['Country'] = occur['Country'].replace('HKG', np.nan)

occur['Year'] = occur['Year'].astype(int)
occur

                 VECTOR  OCCURRENCE_ID  Year       COUNTRY Country
1068      Aedes aegypti           1069  1991  South Africa     ZAF
1069      Aedes aegypti           1070  1991  South Africa     ZAF
1070      Aedes aegypti           1071  1991  South Africa     ZAF
1071      Aedes aegypti           1072  1991  South Africa     ZAF
1072      Aedes aegypti           1073  1991  South Africa     ZAF
1073      Aedes aegypti           1074  1991  South Africa     ZAF
1074      Aedes aegypti           1075  1991  South Africa     ZAF
1075      Aedes aegypti           1076  1991  South Africa     ZAF
1076      Aedes aegypti           1077  1991  South Africa     ZAF
1077      Aedes aegypti           1078  1991  South Africa     ZAF
1078      Aedes aegypti           1079  1991     Australia     AUS
1079      Aedes aegypti           1080  1991  South Africa     ZAF
1080      Aedes aegypti           1081  1991     Australia     AUS
1081      Aedes aegypti           1082  1991     Australia     AUS
1082      Aedes aegypti           1083  1991     Australia     AUS
1083      Aedes aegypti           1084  1991     Australia     AUS
1084      Aedes aegypti           1085  1991     Australia     AUS
1085      Aedes aegypti           1086  1991     Australia     AUS
1086      Aedes aegypti           1087  1991     Australia     AUS
1087      Aedes aegypti           1088  1991     Australia     AUS
1088      Aedes aegypti           1089  1991     Australia     AUS
1089      Aedes aegypti           1090  1991     Australia     AUS
1090      Aedes aegypti           1091  1991     Australia     AUS
1091      Aedes aegypti           1092  1991     Australia     AUS
1092      Aedes aegypti           1093  1991     Australia     AUS
1093      Aedes aegypti           1094  1991     Australia     AUS
1094      Aedes aegypti           1095  1991     Australia     AUS
1095      Aedes aegypti           1096  1991     Australia     AUS
1096      Aedes aegypti           1097  1991     Australia     AUS
1097      Aedes aegypti           1098  1991     Australia     AUS
...                 ...            ...   ...           ...     ...
42012  Aedes albopictus          42013  2010         Italy     ITA
42013  Aedes albopictus          42014  2010        Greece     GRC
42014  Aedes albopictus          42015  2010        Greece     GRC
42015  Aedes albopictus          42016  2013         Spain     ESP
42016  Aedes albopictus          42017  2006         Italy     ITA
42017  Aedes albopictus          42018  1994         Italy     ITA
42018  Aedes albopictus          42019  2013         Italy     ITA
42019  Aedes albopictus          42020  2010         Italy     ITA
42020  Aedes albopictus          42021  2008        Greece     GRC
42021  Aedes albopictus          42022  2010         Italy     ITA
42022  Aedes albopictus          42023  2010         Spain     ESP
42023  Aedes albopictus          42024  2010         Italy     ITA
42024  Aedes albopictus          42025  2009        Greece     GRC
42025  Aedes albopictus          42026  2012         Spain     ESP
42026  Aedes albopictus          42027  2010         Italy     ITA
42027  Aedes albopictus          42028  2008        Greece     GRC
42028  Aedes albopictus          42029  2010        Greece     GRC
42029  Aedes albopictus          42030  2010         Italy     ITA
42030  Aedes albopictus          42031  2009        Greece     GRC
42031  Aedes albopictus          42032  2009        Greece     GRC
42032  Aedes albopictus          42033  2010         Italy     ITA
42033  Aedes albopictus          42034  2010         Italy     ITA
42034  Aedes albopictus          42035  2010        Greece     GRC
42035  Aedes albopictus          42036  2010        Greece     GRC
42036  Aedes albopictus          42037  2010         Italy     ITA
42037  Aedes albopictus          42038  2010         Italy     ITA
42038  Aedes albopictus          42039  2010         Malta     MLT
42039  Aedes albopictus          42040  2014         China     CHN
42040  Aedes albopictus          42041  2014         China     CHN
42041  Aedes albopictus          42042  2014         China     CHN

[39172 rows x 5 columns]

In [8]:
annualOccur = pd.DataFrame(occur.groupby(['Year','Country'])['OCCURRENCE_ID'].count()).reset_index()
annualOccur.shape

(632, 3)

In [9]:
annualTemp = pd.DataFrame(temp.groupby(['Year','Country'])['tas'].sum()/12).reset_index()
annualPrec = pd.DataFrame(prec.groupby(['Year','Country'])['pr'].sum()/12).reset_index()
temp_rain=pd.merge(annualTemp,annualPrec,
                   how='inner',
                   left_on = ['Year','Country'],
                   right_on = ['Year','Country'])
temp_rain.shape

(3650, 4)

In [10]:
# Add Taywan to the dataframe
temp_rain = pd.concat([temp_rain, taywan])
temp_rain.shape

/Users/RodolfoSaldanha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

(3687, 4)

In [11]:
temperature=temp.drop_duplicates()
temperature.to_csv('temperature.csv', encoding='utf-8', index=False)
temperature.dtypes

tas        float64
Year         int64
Month        int64
Country     object
 ISO3      float64
 ISO2      float64
dtype: object

In [12]:
precipitation=prec.drop_duplicates()
precipitation.to_csv('precipitation.csv', encoding='utf-8', index=False)
precipitation.describe()

                 pr          Year         Month   ISO3   ISO2
count  44400.000000  44400.000000  44400.000000    0.0    0.0
mean     135.276355   2003.000000      6.500000    NaN    NaN
std      133.079973      7.211184      3.452091    NaN    NaN
min        0.000000   1991.000000      1.000000    NaN    NaN
25%       42.175175   1997.000000      3.750000    NaN    NaN
50%      101.266500   2003.000000      6.500000    NaN    NaN
75%      194.548750   2009.000000      9.250000    NaN    NaN
max     2882.040000   2015.000000     12.000000    NaN    NaN

In [13]:
temp_rain.to_csv('temp_rain.csv', encoding='utf-8', index=False)

In [15]:
temp_rain.shape

(3687, 4)

In [16]:
tempByYear = pd.pivot_table(temp_rain,
                        values="tas",
                        index=['Country'],
                        columns=['Year'])
tempByYear.isnull().sum()

Year
1980    146
1981    146
1982    146
1983    146
1984    146
1985    146
1986    146
1987    146
1988    146
1989    146
1990    146
1991      0
1992      0
1993      0
1994      0
1995      0
1996      0
1997      0
1998      0
1999      0
2000      0
2001      0
2002      0
2003      0
2004      0
2005      0
2006      0
2007      0
2008      0
2009      0
2010      0
2011      0
2012      0
2013      0
2014      0
2015      0
2016    146
dtype: int64

In [17]:
rainByYear = pd.pivot_table(temp_rain,
                        values="pr",
                        index=['Country'],
                        columns=['Year'])
rainByYear.isnull().sum()

Year
1980    146
1981    146
1982    146
1983    146
1984    146
1985    146
1986    146
1987    146
1988    146
1989    146
1990    146
1991      0
1992      0
1993      0
1994      0
1995      0
1996      0
1997      0
1998      0
1999      0
2000      0
2001      0
2002      0
2003      0
2004      0
2005      0
2006      0
2007      0
2008      0
2009      0
2010      0
2011      0
2012      0
2013      0
2014      0
2015      0
2016    146
dtype: int64

In [18]:
temp_rain_occur=pd.merge(annualOccur,temp_rain,
                   how='left',
                   left_on = ['Year','Country'],
                   right_on = ['Year','Country'])
temp_rain_occur.rename(columns={'OCCURRENCE_ID':'Ocurrences', 'tas':'Temperature', 'pr':'Precipitation'}, inplace=True)
temp_rain_occur

     Year Country  Ocurrences  Precipitation  Temperature
0    1991     AUS          31      37.912953    22.172075
1    1991     BRA           2     139.381483    25.100117
2    1991     COL           1     173.873683    24.545633
3    1991     FJI           4     223.556367    24.151858
4    1991     GUF           1     218.727517    25.670833
5    1991     IND           1      83.869383    24.220583
6    1991     ITA          17      74.369725    11.681567
7    1991     MAC           1     139.311213    23.240850
8    1991     MEX           1      63.625225    21.018242
9    1991     MYS           1     228.281667    25.663675
10   1991     NGA           8      99.951703    26.918442
11   1991     NPL           1      92.374096    12.047412
12   1991     PRI           1     137.896442    25.380858
13   1991     THA           4     116.908015    26.988458
14   1991     TTO           1     131.437017    26.223883
15   1991     USA         105      57.115942     7.554737
16   1991     ZAF          11      42.275564    17.816392
17   1992     ALB           1      60.177775    11.429766
18   1992     AUS          58      37.335425    21.585058
19   1992     BRA           1     140.468358    24.911717
20   1992     CUB           2      92.769083    25.612300
21   1992     DJI           2      24.946896    27.635458
22   1992     FJI           3     174.178533    23.914375
23   1992     GUF           3     206.321768    25.441783
24   1992     IDN          14     223.570000    26.087450
25   1992     IND           5      76.007108    24.114783
26   1992     ITA           6      78.937642    12.367347
27   1992     JPN           3     125.505275    11.013125
28   1992     MYS           1     202.233000    25.590183
29   1992     NZL           1     142.305750     8.945357
..    ...     ...         ...            ...          ...
602  2012     AUT           1      98.963358     7.553608
603  2012     BRN           4     289.547917    25.698967
604  2012     CZE           1      55.631483     9.062616
605  2012     DEU           1      58.510258     9.557205
606  2012     ESP           4      42.364540    13.895337
607  2012     FRA          16      71.268367    12.750580
608  2012     GRC           5      56.060982    14.974655
609  2012     IDN          50     252.981750    26.043758
610  2012     ITA           2      71.075975    12.857542
611  2012     JPN           2     143.003075    11.192658
612  2012     LKA           2     144.612283    27.486383
613  2012     MEX           1      58.729758    21.592717
614  2012     NLD           1      69.282517    10.183468
615  2012     ROM           1      51.040200    10.265744
616  2012     TWN        2019    2449.200000    21.600000
617  2012     USA           1      52.924083     8.217144
618  2013     ARG           2      40.927242    14.918502
619  2013     BRA        4411     147.079900    25.730858
620  2013     ESP           1      55.813233    13.703829
621  2013     IDN          12     257.178333    26.279492
622  2013     ITA          10      82.281275    12.615858
623  2013     PER          13     126.769783    19.474542
624  2013     SVK           1      65.046408     8.746543
625  2013     TWN        2588    2744.000000    22.200000
626  2013     USA           9      59.181317     7.310817
627  2013     ZMB           1      82.162935    22.033725
628  2014     BRA        3276     145.524375    25.833583
629  2014     CHN           3      45.844503     6.941348
630  2014     IDN           5     219.510500    26.202767
631  2014     USA           7      57.448617     7.725201

[632 rows x 5 columns]

In [19]:
temp_rain_occur.to_csv('occurrences.csv', encoding='utf-8', index=False)

In [20]:
urb = pd.read_csv('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/urban.csv')
urb.rename(columns={'Code':'Country'}, inplace=True)
urb

            Entity Country  Year  Urban (%)  Rural (%)
0      Afghanistan     AFG  1950      6.000  94.000000
1      Afghanistan     AFG  1951      6.208  93.792000
2      Afghanistan     AFG  1952      6.422  93.578003
3      Afghanistan     AFG  1953      6.643  93.357002
4      Afghanistan     AFG  1954      6.872  93.127998
5      Afghanistan     AFG  1955      7.107  92.892998
6      Afghanistan     AFG  1956      7.351  92.649002
7      Afghanistan     AFG  1957      7.601  92.399002
8      Afghanistan     AFG  1958      7.860  92.139999
9      Afghanistan     AFG  1959      8.126  91.874001
10     Afghanistan     AFG  1960      8.401  91.598999
11     Afghanistan     AFG  1961      8.684  91.316002
12     Afghanistan     AFG  1962      8.976  91.024002
13     Afghanistan     AFG  1963      9.276  90.723999
14     Afghanistan     AFG  1964      9.586  90.414001
15     Afghanistan     AFG  1965      9.904  90.096001
16     Afghanistan     AFG  1966     10.233  89.766998
17     Afghanistan     AFG  1967     10.570  89.430000
18     Afghanistan     AFG  1968     10.918  89.082001
19     Afghanistan     AFG  1969     11.275  88.724998
20     Afghanistan     AFG  1970     11.643  88.357002
21     Afghanistan     AFG  1971     12.021  87.978996
22     Afghanistan     AFG  1972     12.410  87.589996
23     Afghanistan     AFG  1973     12.809  87.191002
24     Afghanistan     AFG  1974     13.219  86.780998
25     Afghanistan     AFG  1975     13.641  86.359001
26     Afghanistan     AFG  1976     14.074  85.926003
27     Afghanistan     AFG  1977     14.517  85.483002
28     Afghanistan     AFG  1978     14.973  85.027000
29     Afghanistan     AFG  1979     15.442  84.557999
...            ...     ...   ...        ...        ...
27947     Zimbabwe     ZWE  2021     32.303  67.696999
27948     Zimbabwe     ZWE  2022     32.395  67.605003
27949     Zimbabwe     ZWE  2023     32.517  67.483002
27950     Zimbabwe     ZWE  2024     32.670  67.330002
27951     Zimbabwe     ZWE  2025     32.853  67.147003
27952     Zimbabwe     ZWE  2026     33.067  66.932999
27953     Zimbabwe     ZWE  2027     33.313  66.686996
27954     Zimbabwe     ZWE  2028     33.589  66.411003
27955     Zimbabwe     ZWE  2029     33.897  66.102997
27956     Zimbabwe     ZWE  2030     34.238  65.762001
27957     Zimbabwe     ZWE  2031     34.610  65.389999
27958     Zimbabwe     ZWE  2032     35.015  64.985001
27959     Zimbabwe     ZWE  2033     35.452  64.547997
27960     Zimbabwe     ZWE  2034     35.923  64.077003
27961     Zimbabwe     ZWE  2035     36.426  63.574001
27962     Zimbabwe     ZWE  2036     36.962  63.037998
27963     Zimbabwe     ZWE  2037     37.532  62.467999
27964     Zimbabwe     ZWE  2038     38.133  61.867001
27965     Zimbabwe     ZWE  2039     38.765  61.235001
27966     Zimbabwe     ZWE  2040     39.403  60.597000
27967     Zimbabwe     ZWE  2041     40.044  59.956001
27968     Zimbabwe     ZWE  2042     40.689  59.311001
27969     Zimbabwe     ZWE  2043     41.337  58.662998
27970     Zimbabwe     ZWE  2044     41.989  58.011002
27971     Zimbabwe     ZWE  2045     42.643  57.356998
27972     Zimbabwe     ZWE  2046     43.299  56.701000
27973     Zimbabwe     ZWE  2047     43.958  56.042000
27974     Zimbabwe     ZWE  2048     44.619  55.381001
27975     Zimbabwe     ZWE  2049     45.282  54.717999
27976     Zimbabwe     ZWE  2050     45.947  54.053001

[27977 rows x 5 columns]

In [21]:
# Fix the difference of abbreviations for Romania 
urb['Country']  = urb['Country'].replace('ROU', 'ROM')

In [24]:
urban= pd.merge(temp_rain_occur, urb,  how='left', left_on=['Country','Year'], right_on = ['Country','Year'])
urban.shape

(632, 8)

In [23]:
import seaborn as sns
import matplotlib.pyplot as plt

t = temp_rain_occur.iloc[:,2:]
corr = t.corr()
fig, ax = plt.subplots(figsize=(3, 3))
sns.heatmap(corr, annot=True, linewidths=.7, ax=ax)

In [ ]:
taywan_temp = pd.read_excel('/Users/RodolfoSaldanha/Downloads/TWN_data.xlsx', sheet_name='Temp')
taywan_rain = pd.read_excel('/Users/RodolfoSaldanha/Downloads/TWN_data.xlsx', sheet_name='Rainfall')
taywan= pd.merge(t_temp, t_rain, how='left', left_on=['Country','Year'], right_on = ['Country','Year'])
taywan.rename(columns={'Temperature_x':'tas','Temperature_y':'pr'}, inplace=True)
taywan

In [ ]:
taywan.to_csv('taywan.csv')

In [25]:
urban.to_csv('urban.csv')

In [29]:
hdi = pd.read_csv('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/NEW_HDI.csv')
#hdi.rename(columns={'Code':'Country'}, inplace=True)
hdi.drop(columns=['Unnamed: 0'],inplace=True)
hdi.rename(columns={'COUNTRY_ID':'Country','variable':'Year','value':'hdi'}, inplace=True)
hdi.head()

  Country  Year    hdi
0     AFG  1990    NaN
1     ALB  1990  0.645
2     DZA  1990  0.577
3     NaN  1990    NaN
4     AGO  1990    NaN

In [34]:
# Different abbreviation of the same country in different datasets
hdi['Country'] = hdi['Country'].replace('ROU', 'ROM')

In [35]:
hdi_complete= pd.merge(urban, hdi,  how='left', left_on=['Country','Year'], right_on = ['Country','Year'])
hdi_complete

,Year,Country,Ocurrences,Precipitation,Temperature,Entity,Urban (%),Rural (%),hdi
0,1991,AUS,31,37.912953,22.172075,Australia,85.403,14.597000,0.867
1,1991,BRA,2,139.381483,25.100117,Brazil,74.690,25.309999,0.615
2,1991,COL,1,173.873683,24.545633,Colombia,69.949,30.051001,0.595
3,1991,FJI,4,223.556367,24.151858,Fiji,42.381,57.618999,0.651
4,1991,GUF,1,218.727517,25.670833,French Guiana,75.115,24.885000,NaN
5,1991,IND,1,83.869383,24.220583,India,25.778,74.222000,0.432
6,1991,ITA,17,74.369725,11.681567,Italy,66.706,33.293999,0.774
7,1991,MAC,1,139.311213,23.240850,Macao,99.805,0.195000,NaN
8,1991,MEX,1,63.625225,21.018242,Mexico,71.816,28.184000,0.654
9,1991,MYS,1,228.281667,25.663675,Malaysia,50.576,49.424000,0.652
10,1991,NGA,8,99.951703,26.918442,Nigeria,30.176,69.823997,NaN
11,1991,NPL,1,92.374096,12.047412,Nepal,9.180,90.820000,0.386
12,1991,PRI,1,137.896442,25.380858,Puerto Rico,93.106,6.894000,NaN
13,1991,THA,4,116.908015,26.988458,Thailand,29.593,70.406998,0.583
14,1991,TTO,1,131.437017,26.223883,Trinidad and Tobago,54.308,45.692001,0.673
15,1991,USA,105,57.115942,7.554737,United States,75.701,24.299000,NaN
16,1991,ZAF,11,42.275564,17.816392,South Africa,52.554,47.445999,0.626
17,1992,ALB,1,60.177775,11.429766,Albania,37.249,62.750999,0.610
18,1992,AUS,58,37.335425,21.585058,Australia,85.285,14.715000,0.868
19,1992,BRA,1,140.468358,24.911717,Brazil,75.444,24.556000,0.622
20,1992,CUB,2,92.769083,25.612300,Cuba,73.827,26.173000,0.663
21,1992,DJI,2,24.946896,27.635458,Djibouti,76.161,23.839001,NaN
22,1992,FJI,3,174.178533,23.914375,Fiji,43.156,56.844002,0.655
23,1992,GUF,3,206.321768,25.441783,French Guiana,75.584,24.416000,NaN
24,1992,IDN,14,223.570000,26.087450,Indonesia,32.703,67.296997,0.539
25,1992,IND,5,76.007108,24.114783,India,25.984,74.015999,0.438
26,1992,ITA,6,78.937642,12.367347,Italy,66.742,33.257999,0.780
27,1992,JPN,3,125.505275,11.013125,Japan,77.610,22.389999,0.824
28,1992,MYS,1,202.233000,25.590183,Malaysia,51.814,48.186001,0.660
29,1992,NZL,1,142.305750,8.945357,New Zealand,85.103,14.897000,0.825
...,...,...,...,...,...,...,...,...,...
612,2012,AUT,1,98.963358,7.553608,Austria,57.147,42.853001,0.899
613,2012,BRN,4,289.547917,25.698967,Brunei,75.656,24.344000,0.852
614,2012,CZE,1,55.631483,9.062616,Czech Republic,73.197,26.802999,NaN
615,2012,DEU,1,58.510258,9.557205,Germany,77.170,22.830000,0.928
616,2012,ESP,4,42.364540,13.895337,Spain,78.902,21.098000,0.873
617,2012,FRA,16,71.268367,12.750580,France,78.878,21.122000,0.886
618,2012,GRC,5,56.060982,14.974655,Greece,77.004,22.996000,0.854
619,2012,IDN,50,252.981750,26.043758,Indonesia,51.276,48.723999,0.675
620,2012,ITA,2,71.075975,12.857542,Italy,68.684,31.316000,0.874
621,2012,JPN,2,143.003075,11.192658,Japan,91.148,8.852000,0.895
622,2012,LKA,2,144.612283,27.486383,Sri Lanka,18.196,81.804001,0.757
623,2012,MEX,1,58.729758,21.592717,Mexico,78.405,21.594999,0.757
624,2012,NLD,1,69.282517,10.183468,Netherlands,88.588,11.412000,0.921
625,2012,ROM,1,51.040200,10.265744,Romania,53.974,46.026001,0.795
626,2012,TWN,2019,2449.200000,21.600000,Taiwan,75.603,24.396999,NaN
627,2012,USA,1,52.924083,8.217144,United States,81.119,18.881001,NaN
628,2013,ARG,2,40.927242,14.918502,Argentina,91.249,8.751000,0.820
629,2013,BRA,4411,147.079900,25.730858,Brazil,85.209,14.791000,0.748
630,2013,ESP,1,55.813233,13.703829,Spain,79.133,20.867001,0.875
631,2013,IDN,12,257.178333,26.279492,Indonesia,51.955,48.044998,0.681
632,2013,ITA,10,82.281275,12.615858,Italy,68.979,31.021000,0.876
633,2013,PER,13,126.769783,19.474542,Peru,76.989,23.011000,0.736
634,2013,SVK,1,65.046408,8.746543,Slovakia,54.140,45.860001,0.844
635,2013,TWN,2588,2744.000000,22.200000,Taiwan,76.049,23.951000,NaN
636,2013,USA,9,59.181317,7.310817,United States,81.299,18.701000,NaN
637,2013,ZMB,1,82.162935,22.033725,Zambia,40.865,59.134998,0.574
638,2014,BRA,3276,145.524375,25.833583,Brazil,85.492,14.508000,0.752
639,2014,CHN,3,45.844503,6.941348,China,54.259,45.741001,0.738
640,2014,IDN,5,219.510500,26.202767,Indonesia,52.635,47.365002,0.683
641,2014,USA,7,57.448617,7.725201,United States,81.483,18.517000,NaN

In [39]:
hdi_complete.to_csv('hdi.csv')