In [87]:
import pandas as pd
import numpy as np
import scipy

prec = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/Lebanon_to_StVincent_pr_1991_2015.xls')
temp = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/final_project/Datasets/Lebanon_to_StVincent_temp_1991_2015.xls')

In [88]:
temp.rename(columns={'\tYear':'Year', ' Month':'Month', ' Country':'Country'}, inplace=True)
prec.rename(columns={'\tYear':'Year', ' Month':'Month', ' Country':'Country'}, inplace=True)

In [89]:
annualTemp = pd.DataFrame(temp.groupby(['Year','Country'])['tas'].sum()/12).reset_index()
annualPrec = pd.DataFrame(prec.groupby(['Year','Country'])['pr'].sum()/12).reset_index()
mergedData=pd.merge(annualTemp,annualPrec,
                   how='inner',
                   left_on = ['Year','Country'],
                   right_on = ['Year','Country'])

In [90]:
temperature=temp.drop_duplicates()
temperature.to_csv('temperature.xlsx', encoding='utf-8', index=False)
temperature.describe()

                tas          Year         Month   ISO3   ISO2
count  44100.000000  44100.000000  44100.000000    0.0    0.0
mean      23.159302   2003.000000      6.500000    NaN    NaN
std       18.434054      7.211184      3.452092    NaN    NaN
min      -28.858000   1991.000000      1.000000    NaN    NaN
25%       19.840900   1997.000000      3.750000    NaN    NaN
50%       25.016650   2003.000000      6.500000    NaN    NaN
75%       26.799900   2009.000000      9.250000    NaN    NaN
max      503.487000   2015.000000     12.000000    NaN    NaN

In [91]:
precipitation=prec.drop_duplicates()
precipitation.to_csv('precipitation.xlsx', encoding='utf-8', index=False)
precipitation.describe()

                 pr          Year         Month   ISO3   ISO2
count  44100.000000  44100.000000  44100.000000    0.0    0.0
mean     134.495160   2003.000000      6.500000    NaN    NaN
std      132.728498      7.211184      3.452092    NaN    NaN
min        0.000000   1991.000000      1.000000    NaN    NaN
25%       41.907200   1997.000000      3.750000    NaN    NaN
50%      100.633000   2003.000000      6.500000    NaN    NaN
75%      193.285000   2009.000000      9.250000    NaN    NaN
max     2882.040000   2015.000000     12.000000    NaN    NaN

In [92]:
mergedData.to_csv('temp_rain.xlsx', encoding='utf-8', index=False)

In [93]:
mergedData

      Year Country        tas          pr
0     1991     ABW  28.078008   38.882968
1     1991     AFG  13.118033   36.931453
2     1991     AGO  21.652200   83.844948
3     1991     AIA  26.108292  113.631158
4     1991     ALB  11.038935   77.587033
5     1991     ARG  14.416431   52.792958
6     1991     ASM  26.879967  263.307917
7     1991     ATG  26.413642  183.339717
8     1991     AUS  22.172075   37.912953
9     1991     AUT   6.151395   94.343317
10    1991     BEL   9.659016   64.017542
11    1991     BEN  27.409108  101.095649
12    1991     BFA  28.330050   70.224523
13    1991     BGD  24.931258  224.338517
14    1991     BGR   9.996003   54.218833
15    1991     BHS  25.527075  113.667850
16    1991     BIH   9.206975   96.654992
17    1991     BLZ  25.761575  167.556475
18    1991     BMU  22.549975  125.000000
19    1991     BOL  21.207917   92.174407
20    1991     BRA  25.100117  139.381483
21    1991     BRB  26.554125  157.379342
22    1991     BRN  25.674700  219.241542
23    1991     BTN  11.657610  176.554243
24    1991     CAF  25.054183  114.758237
25    1991     CAN  -6.451147   39.202983
26    1991     CHE   6.804891  110.262400
27    1991     CHN   6.572947   47.411050
28    1991     CIV  26.424900  103.575108
29    1991     CMR  24.658392  127.401355
...    ...     ...        ...         ...
3595  2015     SLE  26.503492  223.210803
3596  2015     SLV  24.958225  138.659865
3597  2015     SOM  27.559958   26.016684
3598  2015     SRB  11.930408   60.638635
3599  2015     SUR  26.466358  192.240192
3600  2015     SVK   9.522859   55.878642
3601  2015     SVN  10.472126  105.632176
3602  2015     SYC  27.624600  147.779975
3603  2015     THA  27.225250  111.589342
3604  2015     TKL  28.504125  223.788250
3605  2015     TLS  25.335017  110.820812
3606  2015     TON  24.906625  139.052067
3607  2015     TTO  27.075450  113.149692
3608  2015     TUR  11.885071   51.304403
3609  2015     TUV  28.235958  258.439000
3610  2015     TZA  23.070925   84.411538
3611  2015     UGA  23.398358  107.206000
3612  2015     URY  18.393050  106.965150
3613  2015     USA   8.458881   63.766042
3614  2015     VCT  55.999950  191.312817
3615  2015     VEN  26.384883  136.936375
3616  2015     VGB  26.294358  139.211667
3617  2015     VNM  25.181908  144.815633
3618  2015     VUT  23.917383  232.462750
3619  2015     WLF  27.068708  256.774575
3620  2015     WSM  27.370167  295.328392
3621  2015     YEM  24.478517   13.468434
3622  2015     ZAF  18.622208   28.233982
3623  2015     ZAR  24.511425  125.432825
3624  2015     ZMB  22.435633   72.928165

[3625 rows x 4 columns]

In [99]:
tempByYear = pd.pivot_table(mergedData,
                        values="tas",
                        index=['Country'],
                        columns=['Year'])
tempByYear.isnull().sum()

Year
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
dtype: int64

In [100]:
rainByYear = pd.pivot_table(mergedData,
                        values="pr",
                        index=['Country'],
                        columns=['Year'])
rainByYear.isnull().sum()

Year
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
dtype: int64